@import url('https://fonts-googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.body{
      background: #d2eff8;
      color: #eeedfa;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 10%;
    background:rgb(5, 122, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:#ededed ;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: aqua;
}


.home-sci{
    bottom: 0;
     position: fixed;
    left: 0;
    width: 100%;
    padding:10px 10%;
    background:linear-gradient(rgb(79, 248, 36),rgb(7, 126, 13));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.home-sci a{
    font-size: 20px;
    text-decoration: none;
    color: bisque;
    transition: 1s;
}
.home-sci a:hover{
    font-size: 15px;
    color: black;
    text-decoration: wavy;
}
