@import url('https://fonts-googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.body{
      background: #0e0750;
      color: #1b154d;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 10%;
    background:rgb(16, 103, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:#ededed ;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: aqua;
}

.vis{
    margin-top:50mm ;
    padding-left: 100px;
    color: rgb(130, 9, 160);
    transition: 2s;
    width: 100mm;
}
.vis:hover{
    color: rgb(4, 252, 66);
    rotate: 26deg;
}

.vision{
    margin-top: 10px;
    padding-left: 100px;
    color: beige;
    width: 250mm;
}

.home-sci{
    bottom: 0;
     position: fixed;
    left: 0;
    width: 100%;
    padding:10px 10%;
    background:linear-gradient(blue,aqua);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.home-sci a{
    font-size: 20px;
    text-decoration: none;
    color: bisque;
    transition: 1s;
}
.home-sci a:hover{
    font-size: 15px;
    color: black;
    text-decoration: wavy;
}

.image{
   
    height: 200mm;
    margin-left: 300mm;
    margin-bottom: 350mm;
    opacity: 90%;
    width: 100mm;
}